<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">SiGPIT - Alterar Senha</ui:define>
	<ui:define name="pageContent">
		<div class="navbar-inner">
			<legend>Alterar Senha</legend>
			<div class="row-fluid">
				<div class="span12">
					<h:form class="form-horizontal">
						<h:panelGroup endered="#{!requestScope.chave}">
							<h:outputText value="#{cadastroMBean.mensagemConfirmacaoConta}"></h:outputText>
							<h:messages id="msgs2" showDetail="true" escape="false" />
						</h:panelGroup>
						<div class="control-group">
							<label class="control-label" for="inputPassword">Senha
								Atual</label>
							<h:panelGroup rendered="#{loginMBean.logado}">
								<div class="controls">
									<h:inputSecret id="senhaAtual" label="Senha Atual"
										binding="#{alterarSenhaMBean.inputSenhaAtual}"
										styleClass="span5" required="true"
										value="#{alterarSenhaMBean.senhaAtual}" />
								</div>
							</h:panelGroup>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputNovaSenha">Nova
								Senha</label>
							<div class="controls">
								<h:inputSecret id="novaSenha" label="Nova Senha"
									binding="#{alterarSenhaMBean.inputNovaSenha}"
									styleClass="span5" value="#{alterarSenhaMBean.novaSenha}"
									required="true">
									<f:validator
										validatorId="br.ufrn.sigpit.comum.validators.PasswordValidator" />
								</h:inputSecret>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="inputConfirmNovaSenha">Confirmar
								Nova Senha</label>
							<div class="controls">
								<h:inputSecret id="confirmacaoSenha"
									label="Confirmação da Senha"
									binding="#{alterarSenhaMBean.inputNovaSenhaConfirmacao}"
									styleClass="span5" required="true"
									value="#{alterarSenhaMBean.confirmacaoNovaSenha}">
									<f:validator
										validatorId="br.ufrn.sigpit.comum.validators.ConfirmPasswordValidator" />
									<f:attribute name="passwordComponent"
										value="#{alterarSenhaMBean.inputNovaSenha}" />
								</h:inputSecret>
							</div>
						</div>
						
						<!-- Botão de Submit -->
						<div class="form-actions">								
							<button type="button" onclick="window.history.back();" class="btn" style="margin-right: 10px;">Cancelar</button>
							
							<h:commandButton value="Alterar Senha"
								style="display:inline-block;"
								action="#{alterarSenhaMBean.alterarSenha}"
								rendered="#{loginMBean.logado}" styleClass="btn btn-primary" />
							
						</div>
					</h:form>
				</div>

			</div>
		</div>
	</ui:define>
</ui:composition>


</html>