<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">SiGPIT - Cadastro de Orientador</ui:define>
    <ui:define name="pageContent">
		<div class="navbar">
			<div class="navbar-inner">
				<legend>Cadastrar Conta</legend>
				
				<h:messages class="alert alert-error" style="list-style-type: none;" />
				
				<h:form class="form-horizontal">
	
					<!--Nome completo-->
					<div class="control-group">
						<label class="control-label" for="nome">Nome completo*:</label>
						<div class="controls">
							<h:inputText id="nome" requiredMessage="Nome Completo: Este campo é obrigatório" required="true" value="#{cadastrarUsuarioMBean.obj.nome}" />
						</div>
					</div>
					
					<!--E-mail-->
					<div class="control-group">
						<label class="control-label" for="email">E-mail*:</label>
						<div class="controls">
							<h:inputText id="email" requiredMessage="E-mail: Este campo é obrigatório" required="true" value="#{cadastrarUsuarioMBean.obj.email}"
								label="Email">
								<f:validator
									validatorId="br.ufrn.sigpit.comum.validators.EmailValidator" />
							</h:inputText>
						</div>
					</div>
					
					<!--Senha-->
					<div class="control-group">
						<label class="control-label" for="senha">Senha*:</label>
						<div class="controls">
							<h:inputSecret id="senha" requiredMessage="Senha: Este campo é obrigatório" required="true" value="#{cadastrarUsuarioMBean.obj.senha}">
								<f:validateLength minimum="6" />
							</h:inputSecret>
						</div>
					</div>
					
					<!--Confirmar Senha-->
					<div class="control-group">
						<label class="control-label" for="senhaConfirm">Confirmar senha*:</label>
						<div class="controls">
							<!--<input type="password" id="inputCheckSenha"></input>-->
							<h:inputSecret type="password" requiredMessage="Confirmar senha: Este campo é obrigatório" id="senhaConfirm" required="true"
								value="#{cadastrarUsuarioMBean.senhaConfirm}">
								<f:validator
									validatorId="br.ufrn.sigpit.comum.validators.PasswordValidator" />
							</h:inputSecret>
						</div>
					</div>
					
					<!--Butões-->
					<div class="form-actions">
						<button type="button" onclick="window.history.back();" class="btn" style="margin-right: 10px;">Cancelar</button>
	
						<h:commandButton value="Cadastrar"
							action="#{cadastrarUsuarioMBean.cadastrarDadosAcesso}"
							styleClass="btn btn-primary">
							<!--	<f:param name="g" value="#{profissionalMBean.cadastroGestor}" />-->
						</h:commandButton>
	
					</div>
	
				</h:form>
			</div>
			<p class="help-block">* Campos de preenchimento obrigatório.</p>
		</div>
    </ui:define>
</ui:composition>
</html>