<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">SiGPIT - Sistema de Gerenciamento do Programa de Imerssão Tecnológica</ui:define>
    <ui:define name="pageContent">
		<div class="content">
			<h1  style="color: white;">SUA CONTA FOI EXCLUIDA COM SUCESSO!</h1>
			<a href="#{request.contextPath}/login.jsf">Retornar Página Inicial</a>
		</div>
    </ui:define>
</ui:composition>
</html>
		