<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
<ui:composition template="/templates/template.xhtml">
	<ui:define name="pageTitle">SiGPIT - Sistema de Gerenciamento do Programa de Imerssão Tecnológica</ui:define>
    <ui:define name="pageContent">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="tabela">
					<table class="table table-hover">
						<thead>
							<tr align="center">
								<th>Questões</th>
								<th>Data Inicial</th>
								<th>Data Final</th>
							</tr>
						</thead>

						<tbody>
							<ui:repeat var="o"
								value="#{selecoesMBean.processosSeletivosAbertos}"
								varStatus="status">
								<tr onclick="location.href='visualizarSelecao.jsf?id=#{o.id}'">
									<td>#{o.tituloDaSelecao}</td>
									<td>#{o.inicioInscricoes}</td>
									<td>#{o.fimInscricoes}</td>
								</tr>
							</ui:repeat>
						</tbody>
					</table>
				</div>
			</div>
		</div>
    </ui:define>
</ui:composition>

</html>