<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<meta charset="utf-8"></meta>
<title>SIGS - Sistema Integrado de Gestão de Seleção</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./resources/ico.jpg"></link>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./resources/ico.jpg"></link>
    -->
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="./resources/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="./resources/ico.jpg"></link>
<link rel="shortcut icon" href="./resources/ico.jpg"></link>
</head>


<div class="content">
	<div>
		<div class="header">
			<div class="logo">
				<p>SIGS</p>
			</div>
			<p>Sistema Integrado de Gestão de Seleção</p>
			<hr />
			<br />
		</div>
	</div>
	<br />
</div>

<div class="navbar">
	<h:messages id="msgs" />

	<h:form class="well" style="width:220px; margin:0 auto;">
		<h:outputLabel class="control-label" for="email" value="Email:* " />
		<h:inputText id="email" classInput="email" label="Email"
			value="#{loginMBean.obj.email}" maxlength="50" minlength="5">
			<!--<f:validator validatorId="br.ufrn.ticonnect.comum.validators.emailValidator" />-->
		</h:inputText>

		<h:commandButton value="Reenviar Email de Ativação"
			class="btn btn-primary" action="#{loginMBean.reenviarEmailAtivacao}" />
	</h:form>
</div>
</html>