<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
<h:head>
	<meta charset="utf-8"></meta>
    <title><ui:insert name="pageTitle">Page Title</ui:insert></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<link rel="apple-touch-icon-precomposed" href="#{request.contextPath}/assets/img/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="#{request.contextPath}/assets/img/ico.jpg"></link>
<link rel="shortcut icon" href="#{request.contextPath}/assets/img/ico.jpg"></link>
	
	<link href="#{request.contextPath}/assets/css/bootstrap.css" rel="stylesheet"></link>
	<link href="#{request.contextPath}/assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
	<link href="#{request.contextPath}/assets/css/style.css" rel="stylesheet"></link>
	
</h:head>
<h:body>
    <div class="content">
		<div class="header">
			<div class="logo"><p><a href="#{request.contextPath}/pages/index.jsf" style="cursor:pointer">SiGPIT</a></p></div>
			<p>Sistema de Gerenciamento do Programa de Imerssão Tecnológica</p>
			<hr />
			<br />
		</div>



		<div class="navbar">
			<div class="navbar-inner">
				<ul class="nav">
					<li><a href="index.jsf">Inicio</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Funções <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#{request.contextPath}/pages/cadastrarFuncao.jsf">Cadastrar Função</a></li>
							<li><a href="#{request.contextPath}/pages/listarFuncoes.jsf">Listar Funções</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Aluno <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#{request.contextPath}/pages/cadastrarAluno.jsf">Cadastrar Aluno</a></li>
							<li><a href="#{request.contextPath}/pages/listarAlunos.jsf">Listar Alunos</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Orientador <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#{request.contextPath}/pages/cadastrarOrientador.jsf">Cadastrar Orientador</a></li>
							<li><a href="#{request.contextPath}/pages/listarOrientadores.jsf">Listar Orientadores</a></li>
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Conta<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#{request.contextPath}/pages/alterarSenha.jsf">Alterar Senha</a></li>
							<li><a href="#ExcluirConta" data-toggle="modal">Exlcuir
									Conta</a></li>
							<li><a href="#Deslogar" data-toggle="modal">Sair</a></li>
						</ul></li>
				</ul>
			</div>
		</div>


		<!--Janela de excluir conta -->
		<div id="ExcluirConta" class="modal hide fade" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
			</div>

			<div class="modal-body">
				<div class="alert">
					<strong>Atenção!</strong> Você tem certeza que
					deseja excluir sua conta.
				</div>
			</div>
			<h:form>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
					<h:commandButton class="btn btn-primary" value="Excluir"
						action="#{cadastroMBean.deletar}">
						<!-- <f:setPropertyActionListener value="#{id}" target="#{usuario.id}" />-->
					</h:commandButton>
				</div>
			</h:form>
		</div>

		<!--Janela Deslogar -->
		<div id="Deslogar" class="modal hide fade" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">×</button>
			</div>
			<div class="modal-body">
				<div class="alert">
					<strong>Atenção!</strong> Você tem certeza que deseja sair da sua
					conta.
				</div>
			</div>
			<h:form>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
					<h:commandButton class="btn btn-primary" value="Sair"
						action="#{loginMBean.deslogar}"></h:commandButton>
				</div>
			</h:form>
		</div>

	</div>

    <ui:insert name="pageContent">Page Content</ui:insert>


	<div id="footer">
      <div class="content"><br />
        <p class="muted credit" style="text-align: center;">
        	2014 © <b>SiGPIT</b> - Sistema de Gerenciamento do Programa de Imersão
        	Tecnológica
        </p>
      </div>
    </div>
    <!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="#{request.contextPath}/assets/js/jquery.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-transition.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-alert.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-modal.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-dropdown.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-scrollspy.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-tab.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-tooltip.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-popover.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-button.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-collapse.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-carousel.js"></script>
	<script src="#{request.contextPath}/assets/js/bootstrap-typeahead.js"></script>
</h:body>
</html>
