a.selecao:link{ 
			text-decoration: none;
			color: #333333; 
		} 
		a.selecao:visited { 
			text-decoration: none;
			color: #333333;
		}    
		a.selecao:hover{
			color: #0066FF;
			text-decoration:none;
		} 