.header{

color:rgb(0, 0, 0);

}

.logo{
font-size:300%;
}

hr{
	border-top: 1px solid #000000;
}


body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(216, 216, 216);
margin-left: 10%;
  margin-right: 10%;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
    border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
background-color: rgb(75, 75, 83);
color: rgb(255,255,255);
}