<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<meta charset="utf-8"></meta>
<title>SIGS - Sistema Integrado de Gestão de Seleção</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/screen.css" media="screen, projection"
	rel="stylesheet" type="text/css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet"></link>
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>

<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="./resources/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="./resources/ico.jpg"></link>
<link rel="shortcut icon" href="./resources/ico.jpg"></link>
<style type="text/css">
input,textarea {
	color: #fff;
}

.placeholder {
	color: #fff;
}
</style>
</head>

<h:body>

	<div class="content">

		<div>
			<div class="header">
				<div class="logo">
					<p>SIGPIT</p>
				</div>
				<p>Sistema Integrado de Gestão do programa de imerssão
					tecnologica</p>
				<hr />
				<br />
			</div>
		</div>
	</div>
	<br />
	<div class="logo">
		<p>Turma:</p>
	</div>

	<label class="control-label" for="CodigoTurma">Código da Turma</label>
	<h:outputText id="CodigoTurma" value="#{CadastroBean.idturma}" />
	<br />
	<center>
		<div class="span5">

			<h:form class="form-horizontal">
				
				<h:panelGrid id="gridLoginSenha" columns="2">




					<label class="control-label" for="NomeAluno">Nome do aluno: </label>
					<h:inputText id="NomeAluno" value="#{CadastroBean.nomealuno}" />
					<label class="control-label" for="EmailAluno">Email
						do aluno: </label>
					<h:inputText id="EmailAluno" value="#{CadastroBean.email}" />
					<label class="control-label" for="Area">Área</label>
					<h:selectOneMenu id="Area" value="#{CadastroBean.area}">
						<f:selectItem itemValue="BI" />
						<f:selectItem itemValue="Desenvolvimento" />
						<f:selectItem itemValue="infra-estrutura" />
						<f:selectItem itemValue="Requisitos" />
						<f:selectItem itemValue="Testes" />

					</h:selectOneMenu>
					<label class="control-label" for="Turno">Turno</label>
					<h:selectOneMenu id="Turno" value="#{CadastroBean.turno}">
						<f:selectItem itemValue="Matutino" />
						<f:selectItem itemValue="Vespertino" />
						
					</h:selectOneMenu>

				<h:messages id="erroturma" style="color:red"/>
				</h:panelGrid>
				
				<div class="control-group">
					<div class="controls">
						<h:commandButton action="#{CadastroBean.Cadastro_aluno()}"
							value="Cadastrar" styleClass="btn btn-primary" />
					</div>
				</div>
			</h:form>
		</div>


	</center>
</h:body>
</html>