<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<meta charset="utf-8"></meta>
<title>SIGS - Sistema Integrado de Gestão de Seleção</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/screen.css" media="screen, projection"
	rel="stylesheet" type="text/css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet"></link>
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>

<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="./resources/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="./resources/ico.jpg"></link>
<link rel="shortcut icon" href="./resources/ico.jpg"></link>
<style type="text/css">
input,textarea {
	color: #fff;
}

.placeholder {
	color: #fff;
}
</style>
</head>

<h:body>

	<div class="content">

		<div>
			<div class="header">
				<div class="logo">
					<p>SIGPIT</p>
				</div>
				<p>Sistema Integrado de Gestão do programa de imerssão
					tecnologica</p>
				<hr />
				<br />
			</div>
		</div>
	</div>
	<br />

	<center>
		<div class="span5">

			<h:form class="form-horizontal">
				<div class="control-group">



					<label class="control-label" for="NomeTurma">Nome da Turma</label>
					
					<h:inputText id="NomeTurma" value="#{CadastroBean.nome}">
						
					</h:inputText>
					<label class="control-label" for="AnoTurma">Ano</label>
					<h:inputText id="AnoTurma" value="#{CadastroBean.ano}" />
					<label class="control-label" for="SemestreTurma">Semestre</label>
					<h:inputText id="SemestreTurma" value="#{CadastroBean.semestre}" />
					<h:messages id="erroturma" style="color:red"/>

				</div>
				<div class="control-group">
					<div class="controls">
						<h:commandButton action="#{CadastroBean.Cadastro()}"
							value="Cadastrar" styleClass="btn btn-primary" />
					</div>
				</div>
			</h:form>
		</div>

 
	</center>
</h:body>
</html>