<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<meta charset="utf-8"></meta>
<title>SIGS - Sistema Integrado de Gestão de Seleção</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/screen.css" media="screen, projection"
	rel="stylesheet" type="text/css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet"></link>
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>

<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="./resources/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="./resources/ico.jpg"></link>
<link rel="shortcut icon" href="./resources/ico.jpg"></link>
<style type="text/css">
input, textarea {
	color: #fff;
}

.placeholder {
	color: #fff;
}
</style>
<script>
	function aparece() {
		document.getElementById("mens").style.visibility = "visible";
	}
</script>
</head>

<h:body>

	<ul class="nav nav-tabs">
		<li><a href="index.jsp">Início</a></li>
		<li class="active"><a href="buscarturmas.jsf">Turmas</a></li>
		<li><a href="atividades.jsf">Atividades</a></li>
		<li><a href="forum.jsf">Fórum</a></li>
		<li><a href="conteudos.jsf">Contéudos</a></li>
		<li><a href="alunos.jsf">Alunos</a></li>
		<li><a href="projetos.jsf">Projetos</a></li>
	</ul>

	<div class="content">

		<div>
			<div class="header">
				<div class="logo">
					<p>SIGPIT</p>
				</div>
				<p>Sistema Integrado de Gestão do Programa de Imersão
					Tecnológica</p>
				<hr />
				<br />
			</div>
		</div>
	</div>
	<div id="mens" class="alert alert-success" role="alert"
		style="visibility: hidden;">Edição realizada com sucesso</div>
	<br />

	<center>
		<div class="span5">

			<h:form class="form-horizontal">
				<div class="control-group">



					<label class="control-label" for="NomeTurma">Nome da Turma</label>
					<h:inputText id="NomeTurma" value="#{CadastroBean.nome}" />
					<label class="control-label" for="AnoTurma">Ano</label>
					<h:inputText id="AnoTurma" value="#{CadastroBean.ano}" />
					<label class="control-label" for="SemestreTurma">Semestre</label>
					<h:inputText id="SemestreTurma" value="#{CadastroBean.semestre}" />
					<label class="control-label" for="status">Status</label>
					<h:selectOneMenu id="status" value="#{CadastroBean.ativo}">
						<f:selectItem itemValue="ativo" />
						<f:selectItem itemValue="inativo" />
						
					</h:selectOneMenu>
					<h:messages id="erroturma" style="color:red"/>

				</div>
				<div class="control-group">
					<div class="controls">
						<h:commandButton onclick="aparece()"
							action="#{CadastroBean.EditarTurmaFinal()}" value="Editar"
							styleClass="btn btn-primary" />
						<h:commandButton action="turmas.jsf" value="Cancelar"
							styleClass="btn btn-primary" />
					</div>
				</div>
			</h:form>
		</div>


	</center>
</h:body>
</html>