<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<meta charset="utf-8"></meta>
<title>SiGPIT - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="./assets/js/html5shiv.js"></script>
    <![endif]-->

<!-- Fav and touch icons -->
<!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./resources/ico.jpg"></link>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./resources/ico.jpg"></link>
    -->
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="#{request.contextPath}/assets/img/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="#{request.contextPath}/assets/img/ico.jpg"></link>
<link rel="shortcut icon" href="#{request.contextPath}/assets/img/ico.jpg"></link>
</head>

<h:body>

	<div class="content">

		<div>
			<div class="header">
				<div class="logo"><p><a href="#{request.contextPath}/pages/index.jsf" style="cursor:pointer">SiGPIT</a></p></div>
				<p>Sistema de Gerenciamento do Programa de Imerssão Tecnológica</p>
				<hr />
				<br />
			</div>
		</div>
		<br />

		<div class="navbar-inner">
			<legend>Login</legend>
			<h:form class="form-horizontal">
				<h:panelGroup endered="#{!requestScope.chave}">
					<h:outputText value="#{cadastroMBean.mensagemConfirmacaoConta}"></h:outputText>
					<h:messages id="msgs2" showDetail="true" escape="false" />
				</h:panelGroup>
				<div class="row-fluid">
					<div class="span5">

						<h:form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputEmail">Email</label>
								<div class="controls">

									<h:inputText id="inputEmail" value="#{loginMBean.obj.email}"
										label="Email" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="inputPassword">Senha</label>
								<div class="controls">
									<h:inputSecret id="inputPassword"
										value="#{loginMBean.obj.senha}" label="Senha" />
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<label class="checkbox"> 
										<input type="checkbox">Lembrar</input>
									</label>
									<h:commandButton value="Entrar" styleClass="btn btn-primary"
										action="#{loginMBean.logar}" />
								</div>
							</div>
						</h:form>
					</div>
					
					<!-- <div class="span7">
						<p class="text-center">
							<Strong>Usuário,</Strong><br /> caso ainda não possua cadastro no
							SIGS,<br /> clique no link abaixo.
						</p>
						<p class="text-center">
							<Strong><a href="#{request.contextPath}/cadastrarUsuario.jsf">Cadastre-se</a></Strong>
							<br/><Strong><a href="#{request.contextPath}/reenviarEmailAtivacao.jsf">Reenviar email</a></Strong>
						</p>
					</div>  -->

				</div>


			</h:form>
		</div>


	</div>
	<!-- /container -->

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="./assets/js/jquery.js"></script>
	<script src="./assets/js/bootstrap-transition.js"></script>
	<script src="./assets/js/bootstrap-alert.js"></script>
	<script src="./assets/js/bootstrap-modal.js"></script>
	<script src="./assets/js/bootstrap-dropdown.js"></script>
	<script src="./assets/js/bootstrap-scrollspy.js"></script>
	<script src="./assets/js/bootstrap-tab.js"></script>
	<script src="./assets/js/bootstrap-tooltip.js"></script>
	<script src="./assets/js/bootstrap-popover.js"></script>
	<script src="./assets/js/bootstrap-button.js"></script>
	<script src="./assets/js/bootstrap-collapse.js"></script>
	<script src="./assets/js/bootstrap-carousel.js"></script>
	<script src="./assets/js/bootstrap-typeahead.js"></script>

</h:body>
</html>