<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<meta charset="utf-8"></meta>
<title>SIGPIT - sistema Integrado de Gestão do programa de
	imerssão tecnologica</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/screen.css" media="screen, projection"
	rel="stylesheet" type="text/css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet"></link>
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>

<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="./resources/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="./resources/ico.jpg"></link>
<link rel="shortcut icon" href="./resources/ico.jpg"></link>
<style type="text/css">
input,textarea {
	color: #fff;
}

.placeholder {
	color: #fff;
}
</style>
</head>

<h:body>

<ul class="nav nav-tabs">
		<li><a href="#">Início</a></li>
		<li class="active"><a href="#">Turmas</a></li>
		<li><a href="#">Atividades</a></li>
		<li><a href="#">Fórum</a></li>
		<li><a href="#">Contéudos</a></li>
		<li><a href="#">Alunos</a></li>
		<li><a href="#">Projetos</a></li>
	</ul>

	<div class="content">

		<div>
			<div class="header">
				<div class="logo">
					<p>SIGPIT</p>
				</div>
				<p>Sistema Integrado de Gestão do programa de imerssão
					tecnologica</p>
				<hr />
				<br />
			</div>
		</div>
	</div>
	<br />
	<div class="logo">
		<p>Turma:</p>
	</div>



	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group" style="margin: 0px 0px 0px 80px">
				Nome:
				<h:outputText value="#{CadastroBean.nome}" id="NomeTurma" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group" style="margin: 0px 0px 0px 80px">
				Código:
				<h:outputText value="#{CadastroBean.idturma}" id="CodigoTurma" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group" style="margin: 0px 0px 0px 80px">
				Ano:
				<h:outputText value="#{CadastroBean.ano}" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="form-group" style="margin: 0px 0px 0px 80px">
				Semestre:
				<h:outputText value="#{CadastroBean.semestre}" />
			</div>
		</div>
	</div>

	<br />

	<h:form>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group" style="margin: 0px 0px 0px 25px">
					<h:commandButton action="#{CadastroBean.Chamar_add_aluno()}"
						value="Adicionar Aluno" styleClass="btn btn-primary">

					</h:commandButton>
					
					<h:commandButton action="#{CadastroBean.ChamarEditarTurma()}" value="Editar Turma" styleClass="btn btn-primary" />

				</div>

			</div>
		</div>
	</h:form>


	<h:form>
		<h:dataTable value="#{CadastroBean.consultaAluno}" var="item"
			class="table table-striped table-bordered" cellspacing="0"
			width="100%" data-show-refresh="true" data-show-toggle="true"
			data-show-columns="true" data-search="true"
			
			>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Idturma" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<center>
							<h:commandLink value="#{item.idturma}" />
						</center>
					</div>
				</div>
			</h:column>


			<h:column>
				<f:facet name="header">
					<h:outputText value="Nome do aluno" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<center>
							<h:commandLink value="#{item.nome}" />
						</center>
					</div>
				</div>
			</h:column>


			<h:column>
				<f:facet name="header">
					<h:outputText value="Área" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<center>
							<h:commandLink value="#{item.area}" />
						</center>
					</div>
				</div>
			</h:column>


			<h:column>
				<f:facet name="header">
					<h:outputText value="Turno" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<center>
							<h:commandLink value="#{item.turno}" />
						</center>
					</div>
				</div>
			</h:column>
			
			<h:column>
				<f:facet name="header">
					<h:outputText value="E-mail" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<center>
							<h:commandLink value="#{item.email}" />
						</center>
					</div>
				</div>
			</h:column>

		</h:dataTable>
	</h:form>



	<br />
	<div class="content">

		<div>
			<div class="header">
				<div class="logo">
					<h4>Projeto:</h4>
				</div>
				<br />
			</div>
		</div>
	</div>
	<center>
		<h:form>
			<div class="col-lg-4 col-md-4 col-sm-5">
				<h:inputText class="input-block-level"
					value="#{CadastroBean.projeto}" />
			</div>
			<div class="control-group">
				<div class="controls">
					<h:commandButton action="#{CadastroBean.Cadastro_Projeto()}"
						value="Cadastrar" styleClass="btn btn-primary" />
				</div>
			</div>
		</h:form>
	</center>
</h:body>
</html>