<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<head>
<meta charset="utf-8"></meta>
<title>SIGPIT - sistema Integrado de Gestão do programa de
	imerssão tecnologica</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<meta name="description" content=""></meta>
<meta name="author" content=""></meta>

<!-- Le styles -->
<link
	href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css"
	media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/screen.css" media="screen, projection"
	rel="stylesheet" type="text/css" />
<link
	href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"
	rel="stylesheet"></link>
<link href="./assets/css/bootstrap.css" rel="stylesheet"></link>
<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>
<link href="./assets/css/style.css" rel="stylesheet"></link>
<style type="text/css">
</style>

<link href="./assets/css/bootstrap-responsive.css" rel="stylesheet"></link>

<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="./resources/ico.jpg"></link>
<link rel="apple-touch-icon-precomposed" href="./resources/ico.jpg"></link>
<link rel="shortcut icon" href="./resources/ico.jpg"></link>
<style type="text/css">
input,textarea {
	color: #fff;
}

.placeholder {
	color: #fff;
}
</style>
</head>

<h:body>

	<ul class="nav nav-tabs">
		<li><a href="#">Início</a></li>
		<li class="active"><a href="#">Turmas</a></li>
		<li><a href="#">Atividades</a></li>
		<li><a href="#">Fórum</a></li>
		<li><a href="#">Contéudos</a></li>
		<li><a href="#">Alunos</a></li>
		<li><a href="#">Projetos</a></li>
	</ul>


	<div class="content">

		<div>
			<div class="header">
				<div class="logo">
					<p>SIGPIT</p>
				</div>
				<p>Sistema Integrado de Gestão do programa de imerssão
					tecnologica</p>
				<hr />
				<br />
			</div>
		</div>
	</div>
	<br />


	<h:form>
		<h:dataTable value="#{ComponentesBean.consultaTurma}" var="item"
			class="table table-striped table-bordered" cellspacing="0"
			width="100%" data-show-refresh="true" data-show-toggle="true"
			data-show-columns="true" data-search="true">

			<h:column>
				<f:facet name="header">
					<h:outputText value="Idturma" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<center>
							<h:commandLink action="#{ComponentesBean.Turma(item)}"
								value="#{item.idturma}" />
						</center>
					</div>
				</div>
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Nome da Turma" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<h:commandLink action="#{ComponentesBean.Turma(item)}"
							value="#{item.nome}" />
					</div>
				</div>
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Ano da Turma" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<h:commandLink action="#{ComponentesBean.Turma(item)}"
							value="#{item.ano}" />
					</div>
				</div>
			</h:column>


			<h:column>
				<f:facet name="header">
					<h:outputText value="Semestre da Turma" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<h:commandLink action="#{ComponentesBean.Turma(item)}"
							value="#{item.semestre}" />
					</div>
				</div>
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Integrantes" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<h:commandLink action="#{ComponentesBean.Turma(item)}"
							value="#{CadastroBean.numalunos(item)}" />
					</div>
				</div>
			</h:column>

			<h:column>
				<f:facet name="header">
					<h:outputText value="Status" />
				</f:facet>
				<div class="control-group">
					<div class="controls">
						<h:commandLink action="#{ComponentesBean.Turma(item)}"
							value="#{item.ativo}" />
					</div>
				</div>
			</h:column>



		</h:dataTable>
	</h:form>


	<br />


	<center>
		<div class="span5">

			<h:form class="form-horizontal">

				<h:panelGrid id="gridLoginSenha" columns="2">
					<label class="control-label" for="Area">Área</label>
					<h:selectOneMenu id="Area" value="#{ComponentesBean.area}">
						<f:selectItem itemValue="BI" />
						<f:selectItem itemValue="Desenvolvimento" />
						<f:selectItem itemValue="infra-estrutura" />
						<f:selectItem itemValue="Requisitos" />
						<f:selectItem itemValue="Testes" />

					</h:selectOneMenu>
				</h:panelGrid>
				<div class="control-group">
					<div class="controls">
						<h:commandButton action="#{ComponentesBean.Buscaralunoarea()}"
							value="Buscar por área" styleClass="btn btn-primary" />
					</div>
				</div>
			</h:form>
		</div>
	</center>





	<center>
		<div class="span5">

			<h:form class="form-horizontal">

				<label class="control-label" for="Turno">Turno</label>
				<h:selectOneMenu id="Turno" value="#{ComponentesBean.turno}">
					<f:selectItem itemValue="Matutino" />
					<f:selectItem itemValue="Vespertino" />

				</h:selectOneMenu>

				<div class="control-group">
					<div class="controls">
						<h:commandButton action="#{ComponentesBean.BuscarAlunoTurno()}"
							value="Buscar por turno" styleClass="btn btn-primary" />
					</div>
				</div>
			</h:form>
		</div>
	</center>




</h:body>
</html>